<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="ybruin-site" name="Keywords">
    <meta content="ybruin-site" name="description">
    <title>ybruin-site</title>
    <link rel="icon" href="http://res.idol.yystatic.com/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://res.cont.yy.com/css/reset.css">
    <!--  STYLE_COMP_PLACEHOLDER-->
    <link rel="stylesheet" type="text/css" href="../sass/index.scss">
</head>
<body>
    <% include components/header %>

    <script src="../lib/scrat.js" type="text/javascript"></script>
    <!--SCRIPT_COMP_PLACEHOLDER-->
    <!--SCRIPT_ENTRY_PLACEHOLDER-->
</body>
</html>